<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoharvestheroes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoharvestheroes"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarvestHero"
        tools:targetApi="31">

        <activity android:name="com.harvesthero.predict.TutorialActivity" />
        <activity android:name="com.harvesthero.ui.komunitas.KomunitasActivity" />
        <activity android:name="com.harvesthero.ui.search.SearchActivity"/>
        <activity android:name="com.harvesthero.ui.profile.ProfileEditActivity" />
        <activity android:name="com.harvesthero.ui.komunitas.PertanyaanActivity" />
        <activity android:name="com.harvesthero.ui.profile.ProfileActivity" />
        <activity android:name="com.harvesthero.predict.RecommendActivity" />
        <activity android:name="com.harvesthero.predict.CameraActivity" />
        <activity android:name="com.harvesthero.ui.login.LoginActivity"/>
        <activity android:name=".ui.personalize.PersonalizeActivity"/>

        <activity
            android:name="com.harvesthero.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.harvesthero.ui.main.MainActivity"/>
    </application>

</manifest>